@model RegisterViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="row page-header">
        <div class="col-md-12">
            <h1 class="display-3" align="center">Lag en ny bruker</h1>
        </div>
    </div>

    <br />


    <div class="container" align="center">
        <div class="col-md-8">

            @using (Html.BeginForm("Register", "RegisterPage", "Post"))
            {
                @Html.AntiForgeryToken()

                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", autofocus = "autofocus", placeholder = "Brukernavn" })
                <br />
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Passord" })
                <br />
                @Html.PasswordFor(m => m.ConfirmedPassword, new { @class = "form-control", placeholder = "Gjenta passord" })
                <br />
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Epostaddresse" })
                <br />

                <input type="submit" value="Registrer ny bruker" class="btn btn-lg btn-primary btn-block" />

            }

            @if (Model.ErrorMessage != null)
            {
                <br />
                <div class="col-md-8">
                    <div class="alert alert-danger form-control">@Model.ErrorMessage</div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="row page-header">
        <div class="col-md-12">
            <h1 class="display-3" align="center">Du er allerede innlogget!</h1>
        </div>
    </div>
}
