@model MatchApplication.Models.Pages.PlayerPage
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row page-header">
    <div class="col-md-12">
        <h1 class="display-3" align="center">@Html.PropertyFor(m => m.FirstName) @Html.PropertyFor(m => m.LastName)</h1>
    </div>
</div>

<br />

<div class="container" align="center">
    <div class="col-md-8">
        <div align="left">
            <h3>Informasjon</h3>
            <p>Fødselsdag   @Html.PropertyFor(m => m.Birthday)</p>
            <p>Draktnummer  @Html.PropertyFor(m => m.ShirtNumber)</p>
            <p>Posisjon     @Html.PropertyFor(m => m.Role)</p>
        </div>
    </div>
</div>