@model MatchApplication.Models.ViewModels.MatchEventViewModel

<div class="popup-overlay">
	<div class="popup-content">
		<h2>Nytt mål</h2>
		@using (Html.BeginForm("NewEventDialog2", "MatchPage", FormMethod.Post))
		{
			<div class="row">
				<div class="large-12 columns">
					<select id="PlayerId" name="PlayerId">
						@foreach (var player in Model.Players)
						{
							<option value="@(Model.PlayerId = player.Id)">@player.FirstName @player.LastName</option>
						}
					</select>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					@Html.DisplayNameFor(model => model.Description)
					@Html.TextBoxFor(model => model.Description)
					@Html.ValidationMessageFor(model => model.Description)
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					@Html.DisplayNameFor(model => model.Minute)
					@Html.TextBoxFor(model => model.Minute)
					@Html.ValidationMessageFor(model => model.Minute)
				</div>
			</div>
			@Html.HiddenFor(model => model.MatchPageId)
			<div class="row">
				<div class="large-4 columns">
					<input class="addNewEventButton" type="submit" value="Send inn" placeholder="large-4.columns" />
				</div>
			</div>
		}

		@*<p>@Model.Test</p>*@
		<button class="closePopup">Close</button>
	</div>
</div>

