@model MatchApplication.Models.Pages.MatchPage
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row page-header">
    <div class="col-md-12">
        <h1 class="display-3" align="center">@Html.PropertyFor(m => m.HomeTeam) mot @Html.PropertyFor(m => m.Awayteam)</h1>
    </div>
    <div class="col-md-12" align="center">
        <h5>Kampstart @Html.PropertyFor(m => m.MatchStart)</h5>
        <h5>Dommer @Html.PropertyFor(m => m.FirstName)</h5>
    </div>
</div>
<br />


<div class="newEventDialog" style="display: none">@Html.Action("NewEventDialog", "MatchPage", Model)</div>
<div class="container" align="center">
    
    <div class="col-md-8">
        <div align="Center">
            <h3>Hendelser</h3>
			<button class="newEventButton">Ny hendelse</button>
            <div>
                @Html.PropertyFor(m => m.ContentArea)
            </div>
        </div>
    </div>
</div>

